body {
    background-image: url(./pics/minecraft-sky.png);
    background-size: cover;
    background-color: #4D86BA;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    background-image: url(./pics/gras-block.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 100px;
    width: auto;
    background-size: contain;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}